.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #fc0;
    --secondary-color: #ff06ff;
    --inveted-primary-color: #fa007d;
    --inveted-secondary-color: #f50;
}
