:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #fa007d;
    --secondary-color: #f50;
    --inverted-primary-color: #fc0;
    --inverted-secondary-color: #ff06ff;
}
